.btn-box{
  text-align: center;
  margin-top: 1rem;
}
input{
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border: none;
  margin: 0.1rem;
  border-radius: 0.25rem;
  transition: all 0.15s;
}
input:hover{
  outline:3px solid #444;
}
input[type="number"]{
  width: 50px;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button[type="submit"]{
  background: #aaf;
  cursor: pointer;
  @extend input;
}